<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Nomor</th>
      <th>Nama Game</th>
      <th>Kategori</th>
      <th>Nominal</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% voucher.forEach(function(v,k){ %>
        <tr>
          <td><%= k+1 %></td>
          <td><%= v.name %></td>
          <td><%= v?.category?.name ?? '-' %></td>
          <td>
              <% v?.nominals?.forEach((_v) => { %>
                <span class="badge badge-warning">
                    <%= _v.coinName %> <%= _v.coinQuantity %>
                </span>
              <% }) %>
          </td>
          <td>
            <% if(v.status === 'Y'){ %>
              <span class="badge badge-success">
                  Aktif
              </span>
            <% } else { %>
                <span class="badge badge-danger">
                    Tidak Aktif
                </span>
            <% } %>
         </td>
          <td>
            <form action="/voucher/status/<%= v._id %>?_method=PUT" method="post" style="display: inline-block">
                <button class="btn btn-primary btn-sm">
                    <i class="fas fa-folder"></i>
                    <% if(v.status === 'Y'){ %>
                            Matikan
                      <% } else { %>
                            Hidupkan
                      <% } %>
                </button>
            </form>
            <form action="/voucher/delete/<%= v._id %>?_method=DELETE" method="post" style="display: inline-block">
              <a href="/voucher/edit/<%=v._id %>" class="btn btn-info btn-sm">
                <i class="fas fa-pencil-alt"></i>Ubah
              </a>
              <button class="btn btn-danger btn-sm" >
                <i class="fas fa-trash">Hapus</i>
              </button>
            </form>
          </td>
        </tr>
    <%  }) %>
    </tbody>
  </table>